
import type {NextConfig} from 'next';

const nextConfig: NextConfig = {
  srcDir: 'src',
  transpilePackages: ['clsx', 'tailwind-merge'],
  typescript: {
    ignoreBuildErrors: false,
  },
  eslint: {
    ignoreDuringBuilds: false,
  },
  images: {
    unoptimized: false,
    remotePatterns: [
      { protocol: 'https', hostname: 'firebasestudio.app' },
      { protocol: 'https', hostname: 'www.dododex.com' },
      { protocol: 'https', hostname: 'ark.wiki.gg' },
      { protocol: 'https', hostname: '**.ark.fandom.com' },
      { protocol: 'https', hostname: 'www.pcgamesn.com' },
      { protocol: 'https', hostname: 'www.notebookcheck.net' },
      { protocol: 'https', hostname: 'www.ginx.tv' },
      { protocol: 'https', hostname: 'www.nme.com' },
      { protocol: 'https', hostname: 'i.ibb.co' },
      { protocol: 'https', hostname: 'www.pngplay.com' },
      { protocol: 'https', hostname: 'assets-global.website-files.com' },
      { protocol: 'https', hostname: 'arkids.net' },
      { protocol: 'https', hostname: 'static.wikia.nocookie.net' },
    ],
  },
};

export default nextConfig;
